@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");

body { padding-top: 70px;
        position: relative;
        background-color: Navy;

}

.well {
  padding-top: 50px;
  background-color: Red;
  border-style: double;
  
}

h1,h2 { color: Yellow;
        font-style: italic;

}

#text { color: White;

}
