@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");

body { padding-top: 70px;
        position: relative;
        background-color: Navy;

}

.well {
  padding-top: 50px;
  border-style: inset;
  background: linear gradient(top to bottom, White-stop1,Black-stop2);
  
}

h1,h2 { color: Yellow;
        font-style: italic;

}

#claim { color: White;

}
