@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");

body { padding-top: 70px;
        position: relative;
        background-color: Navy;
        color: white;

}

.well {
  padding-top: 50px;
  border-style: inset;
  background-color: Black;
  
}

h1,h2 { color: Yellow;
        font-style: italic;

}



