@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");

body { padding-top: 70px;
        position: relative;
        background-image: url "http://fc04.deviantart.net/fs70/i/2011/158/d/8/i_am_me_by_teenavatar-d3ia4tm.jpg"
        color: white;

}

.well {
  padding-top: 50px;
  border-style: inset;
  background-color: Black;
  
}

h1,h2 { color: Yellow;
        font-style: italic;

}



